body {
    background-color: #252525 !important;
    color: white !important;
}
ul, ol, li{
    list-style-type: none;
}
input[type="text"] {
    color: black !important;
}
textarea{
    color: black !important;
}
.btn-primary{
    background-color: #f06060 !important;
    border: none !important;
    border-radius: 5px !important;
    padding: 10px !important;
    width: 140px;
}
.btn-primary:hover {
    background-color: #f17d7d !important;
}
.info-container {
    margin-left: 90px;
    padding: 1px 16px;
    height: 100%;
}
.info-container h1 {
    padding: 15px;
}
.info-container h2{
    padding: 15px;
    border-top: 1px solid white;
}
.comic-listing {
    display: inline-block;
    padding: 15px;
    float: left;
}
.comic-listing h5 {
    color: #8d8d8d;
}
.dropdown-menu {
    background-color: #252525 !important;
    border-radius: 0 !important;
    border: 1px solid white !important;
    height: auto;
    max-height: 150px;
    overflow-x: hidden;
}
.dropdown-menu > li > a {
    color: white !important;
}
.dropdown-menu > li > a:hover {
    background-color: #8d8d8d !important;
}
#dropdownMenu1, #dropdownMenu1:active {
    background-color: #252525;
    border-radius: 0;
    border: none;
    color: white;
}
.comic-info {
    margin-top: 5%;
    display: flex;
}
.comic-info-descr h1 {
    border: none;
    padding: 0;
    display: inline-flex;
}
.social-buttons {
    padding-top: 20px;
}
.create-content {
    border: 1px solid white;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    width: 80%;
}
.create-content form, .input-group {
    padding: 10px;
    font-size: 15px;
}
.create-content img {
    margin-left: 10px;
    width: 900px;
    height: auto;
}
.comic-reading {
    height: auto;
    position: relative;
    text-align: center;
}
.comic-reading img {
    margin: auto;
    margin-top: 40px;
    vertical-align: middle;
    text-align: center;
    display: block;
    width: 500px;
}
.comic-reading-dd {
    display: inline-flex;
}
.preview-options {
    margin-top: 25%;
    margin-left: 40px;
    text-align: center;
    width: 100%;
    padding: 30px;
}