.create-content {
    border: 1px solid white;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    width: 80%;
}
.create-content label {
    font-size: 20px;
}
.create-content form, .input-group {
    padding: 10px;
    font-size: 15px;
}
.create-content p {
    padding-left: 50px;
    width: 875px;
    font-size: 15px;
}
textarea {
    min-height: 200px;
    min-width: 600px;
    resize: none;
}