.comic-summary {
    display: inline-flex;
}
.comic-info .glyphicon, .chapter-listing .glyphicon, .page-listing .glyphicon {
    margin-left: 10px;
}
#edit-title {
    display: none;
    font-size: 10px;
}
#edit-summary {
    display:none;
}
#edit-summary textarea {
    min-height: 200px;
    min-width: 500px;
    resize: none;
}
.user-comments {
    margin-top: 3%;
    margin-left: -3%;
    font-size: 15px;
    padding: 20px;
    width: 80%;
    border-bottom: 1px solid white;
}
.chapter-listing {
    margin-top: 5%;
    padding: 10px;
    font-size: 15px;
}
.chapter-listing a {
    color: white;
}
.chapter-listing a:hover {
    text-decoration: none;
    color: #8d8d8d;
}
.chapter-listing .btn-primary{
    margin-top: 10px;
    text-align: center;
}
.row .glyphicon {
    margin-left: 0;
    margin-right: 20px;
}
.page-listing {
    display: inline-flex;
}
.page-block{
    width: 200px;
    padding: 0;
    text-align: center;
}
.page-block img {
    width: 80%;
    height: auto;
    padding: 15px;
}
.page-block .btn-primary {
    width: 100px;
}
.chapter-info-descr {
    margin-left: 1em;
}
.chapter-info-descr button{
    margin-left: 1em;
}
textarea {
    width: 85%;
    height: 100px;
    margin: 25px;
    resize: none;
}