.tooltips {
    visibility: hidden;
    width: 250px;
    height: 200px;
    background: #FF974F;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    opacity: 0.98;
    border: 2px solid white;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    margin-left: 15%;
    top: -120px;
    padding: 0px 20px 20px 20px;
    display: block;
}
.tooltips:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: white transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -15px;
    left: 51px;
}
.comic-listing {
    position: relative;
    display: inline-block;
}
.comic-listing:hover .tooltips{
    visibility: visible;
}