<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!-- Servlets -->
    <servlet>
        <servlet-name>AuthenticateServlet</servlet-name>
        <servlet-class>controller.servlet.AuthenticateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AuthenticateServlet</servlet-name>
        <url-pattern>/AuthServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>controller.servlet.UserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ComicServlet</servlet-name>
        <servlet-class>controller.servlet.ComicServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ComicServlet</servlet-name>
        <url-pattern>/ComicServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateServlet</servlet-name>
        <servlet-class>controller.servlet.CreateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateServlet</servlet-name>
        <url-pattern>/CreateServlet.save</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SocialServlet</servlet-name>
        <servlet-class>controller.servlet.SocialServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SocialServlet</servlet-name>
        <url-pattern>/SocialServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InitServlet</servlet-name>
        <servlet-class>controller.servlet.InitServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>InitServlet</servlet-name>
        <url-pattern>/InitServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MockComicServlet</servlet-name>
        <servlet-class>controller.servlet.MockComicServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MockComicServlet</servlet-name>
        <url-pattern>/MockComicServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>controller.servlet.Upload</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>

    <!-- Objectify Filter -->
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Authentication Security -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>profile</web-resource-name>
            <url-pattern>/profile.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>publish</web-resource-name>
            <url-pattern>/publish.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>
